<div style="height: fit-content;" class="default-theme">
    <mat-toolbar class="navbar is-light" class="default-theme">
        <div fxShow="true" fxHide.gt-sm="true">
            <button mat-icon-button (click)="sidenav.toggle()">
                <mat-icon>&#9776;</mat-icon>
            </button>
        </div>
        <a mat-button class="companyName" routerLink="/">
            <span>Rail's Stocks💰</span>
            <!--  <img class="logo" src="../../assets/img/logo.png" alt="tassii" />-->
        </a>
        <span class=" example-spacer "></span>
        <div fxShow="true " fxHide.lt-md="true ">
            <a mat-button class="con" routerLink="/allstocks">Exchange System</a>
            <a mat-button>Contact</a>
            <a mat-button class="con" *ngIf="show" routerLink='/register'>Register</a>
            <a mat-button *ngIf="show" routerLink='/login'>Login</a>
            <a mat-button *ngIf="!show" class="con" mat-button>My Account</a>
            <a mat-button *ngIf="!show" class="con" mat-button (click)="signout()">Logout</a>
            <mat-slide-toggle (click)="changeTheme() "></mat-slide-toggle>

        </div>
    </mat-toolbar>
    <div fxFlexFill class="example-container ">
        <mat-sidenav color="primary " #sidenav fxLayout="column " mode="over " opened="false " fxHide.gt-sm="true " style="height: fit-content; ">
            <div fxLayout="column ">
                <a mat-button class="con" routerLink="/allstocks">Exchange System</a>
                <a mat-button>Contact</a>
                <a mat-button class="con" *ngIf="show" routerLink='/register'>Register</a>
                <a mat-button class="con" *ngIf="show" routerLink='/login'>Login</a>
                <a mat-button *ngIf="!show">My Account</a>
                <a mat-button class="con" *ngIf="!show" (click)="signout()">Logout</a>
                <a mat-button (click)="changeTheme() ">Switch</a>
            </div>
        </mat-sidenav>
    </div>
</div>