<div [class.alternative]="otherTheme">
    <mat-toolbar color="primary">
        <button mat-button id="title">
           Rail's Stocks💰</button>
        <!-- This fills the remaining space of the current row -->
        <span class="fill-remaining-space"></span>
        <div fxLayout="row" fxShow="false" fxShow.gt-sm id="try">
            <button class="con" routerLink="/favStocks" mat-button> Home</button>
            <button class="con" routerLink="/allstocks" mat-button>Exchange System</button>
            <button class="con" mat-button>Contact</button>
            <button class="con" routerLink="/register" mat-button>Register</button>
            <button class="con" routerLink="/login" mat-button *ngIf="!show">Login</button>

        </div>

        <div class="theme">
            <button mat-fab (click)="onSetTheme('dark-theme')" color="accent">Dark</button>
            <button mat-fab id="only" (click)="onSetTheme('light-theme')" color="warn">Light</button>
        </div>

        <form class="form-inline my-2 my-lg-0" id="se">
            <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
        </form>

        <button mat-button [mat-menu-trigger-for]="menu" fxHide="false" fxHide.gt-sm>
        <mat-icon>menu</mat-icon>
        </button>
    </mat-toolbar>
    <mat-menu x-position="before" #menu="matMenu">
        <button mat-menu-item>Home</button>
        <button mat-menu-item>Exchange System</button>
        <button mat-menu-item>Contact</button>
        <button mat-menu-item>Register</button>
        <button mat-menu-item>Login</button>
        <!--<button mat-menu-item>Help</button>-->
    </mat-menu>

</div>